@model CategoryFormViewModel;
<form  asp-action=@(Model?.Id > 0 ? "Edit" : "Create")
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onModalBegin"
      data-ajax-success="onModalSuccess"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onModalComplete">
    
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" placeholder="Name" asp-for="Name">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name"></span>
        </div>
        
    </div>
    <partial name="_ModalFotter"/>
</form>


